.calculator {
  margin: 20px 0px;
  display: flex;
  background: rgba(24, 30, 39, 0.7);
  border-radius: 10px;
  padding: 45px 60px;
  justify-content: space-between;
  gap: 40px;
}
.calculator p{
  font-weight: 500;
font-size: 16px;
line-height: 1.1;
margin: 0;
margin-bottom: 10px;
}
.main h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}
.main{
  width: 60%;
}
.second {
 display: flex;
 flex-direction: column;
 width: 40%;
 gap: 20px;
}
.second>div{
  width: 100%;
  display: flex;
  gap: 20px;
}
.second>div>div{
  width: 50%;

}
.main p .second p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.inputslide {
  display: flex;
  gap: 80px;
  justify-content: space-between;

}
.inputslide >div{
  width: 50%;
}
.gradient {
  /* font-weight: 400;
  font-size: 14px;
  line-height: 1.1;

  background-image: linear-gradient(
    90deg,
    #2c96c3 0%,
    #96379a 52.08%,
    #f17736 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  width: fit-content;
  -webkit-text-fill-color: transparent; */
}






@media (max-width: 991px) {
  .main{
    flex-direction: column;
    width: 100%;
  }
  
  .calculator {
    flex-direction: column;
    padding: 45px 40px;
  }
  .second {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .calculator {
    padding: 35px 16px;
  }
  .second {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .inputslide>div{
    width: 100%;
  }
  .inputslide{
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
}
